body {
    padding: 20px;
    margin: 0;
}

.step {
    /* display: none; */
    margin: 10px;
}

#step1 {
    display: block;
}

/* .segment {
    margin-bottom: 1%;
    padding: 1%;
    cursor: pointer;
}

.shadow {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
    border-radius: .25rem;
} */
/* 
.radio-group {
    position: relative;
}

.radio {
    display: inline-block;
    background-color: lightblue;
    border: 2px solid lightblue;
    cursor: pointer;
    padding: 2%;
    border-radius: 5px;
    margin: 1%;
    text-align: center;
} */

/* .radio.selected {
    border-color: blue;
    box-shadow: 3px 3px #a8a8a8;
} */

.app {
    background-color: #fafaf9;
    height: 100vh;
    overflow: scroll;
    padding: 2rem;
}

.selLabel {
    background-color: #fff;
    border: 1px solid #dddbda;
    display: inline-block;
    background-color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    margin-right: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
    vertical-align: middle;
    -ms-flex-pack: center;
    justify-content: center;
    /* border: 1px solid #dddbda; */
    transition: border .15s linear;
    /* border-color: #dddbda; */
    /* background-color: #fff; */
    cursor: pointer;
    margin-left: 2rem;
    width: 106%;
}

input[type="radio"] {
    visibility: hidden;
}

.selected {
    border-color: #b57df0 !important;
}